@page "/"

@inject GameService GameService
@inject ILocalStorageService LocalStorage
@inject IModalService ModalService

@if (this.Game == null)
{
    <div class="row h-100">
        <h1 class="col m-auto text-center">Loading...</h1>
    </div>
}
else
{
    <CascadingValue Value="@this.Game">
        <div class="mt-5 position-relative">
            <div class="base-menu position-fixed">
                <BaseMenu OnBuildModeChanged="@this.OnBuildModeChanged" />
            </div>
            <div class="base-resource-display position-fixed">
                <BaseResourceDisplay />
            </div>
            <div class="base">
                @{
                    var maxLayoutHeight = this.Game.MaxLayoutHeight;

                    foreach (var slot in this.Game.SaveData.Slots)
                    {
                        <CascadingValue Value="@this.IsInBuildMode">
                            <CascadingValue Value="@slot.Key">
                                <CascadingValue Value="@slot.Value">
                                    <BaseSlot OnClick="@this.OnClickSlot" />
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    }
                }
            </div>
        </div>
    </CascadingValue>
}

@code {
    private const string SaveKey = "data";

    private bool IsInBuildMode { get; set; }

    private Game Game;

    private async Task OnClickSlot(SlotData slotData)
    {
        if (true)
        {
            //this.Game.Build(slot);
        }
        else
        {

        }

        await this.UpdateSaveAsync();
    }

    private void OnBuildModeChanged(bool state)
    {
        this.IsInBuildMode = state;
    }

    private async Task UpdateSaveAsync()
    {
        var saveData = this.GameService.Serialize(this.Game);
        await this.LocalStorage.SetItemAsync(SaveKey, saveData);
    }

    private void OnModalClose(ModalResult result)
    {
        if (result.Cancelled)
        {
            return;
        }

        this.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        this.ModalService.OnClose += this.OnModalClose;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var saveData = await this.LocalStorage.GetItemAsync<string>(SaveKey);

            this.Game = this.GameService.CreateGame(saveData);

            this.StateHasChanged();
        }

        await this.UpdateSaveAsync();
    }
}
