@inject IModalService ModalService

<div class="container-fluid d-flex flex-column h-100">
    @if (this.Game.TryGetRoom(this.Data, out Room room))
    {
        bool canDowngrade = room.CanLevelDown;
        bool canUpgrade = this.Game.IsUpgradeable(this.Data);
        string downgradeText = "🔻 Downgrade";
        string upgradeText = "💲 Upgrade";

        <div class="row modal-header">
            <div class="col-8">
                @room.Name
            </div>
            <div class="col-4 text-right">
                @this.Data.Level
            </div>
        </div>
        <div class="row">
            <div class="col">
                @{
                    var entries = new List<(MarkupString header, MarkupString value)>();

                    switch (room.Id)
                    {
                        case RoomType.Control:
                            entries.Add(("Level Limit", this.Data.Level).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Power:
                            entries.Add(("Power", room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Power Consumed", 0).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Manufacture:
                            entries.Add(("Capacity", this.Game.BaseData.ManufactData.Phases[this.Game.LevelToPhase(this.Data.Level)].OutputCapacity).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Trading:
                            entries.Add(("Order Limit", this.Game.BaseData.TradingData.Phases[this.Game.LevelToPhase(this.Data.Level)].OrderLimit).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Dormitory:
                            entries.Add(("Morale Restored/hr", this.Game.ManpowerToString(this.Game.BaseData.DormData.Phases[this.Game.LevelToPhase(this.Data.Level)].ManpowerRecover)).ToMarkup());
                            entries.Add(("Ambience Limit", this.Game.BaseData.DormData.Phases[this.Game.LevelToPhase(this.Data.Level)].DecorationLimit).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Workshop:
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Hire:
                            entries.Add(("Contact Speed", this.Game.BaseData.HireData.Phases[this.Game.LevelToPhase(this.Data.Level)].ResSpeed / 100).ToMarkup());
                            entries.Add(("Resource Consumed", $"{-this.Game.BaseData.HireData.Phases[this.Game.LevelToPhase(this.Data.Level)].EconomizeRate * 100}%").ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Training:
                            entries.Add(("Level Limit", this.Game.BaseData.TrainingData.Phases[this.Game.LevelToPhase(this.Data.Level)].SpecSkillLvlLimit).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        case RoomType.Meeting:
                            entries.Add(("Friend Slots", this.Game.BaseData.MeetingData.Phases[this.Game.LevelToPhase(this.Data.Level)].FriendSlotInc).ToMarkup());
                            entries.Add(("Power Consumed", -room.Phases[this.Game.LevelToPhase(this.Data.Level)].Electricity).ToMarkup());
                            entries.Add(("Operators", room.Phases[this.Game.LevelToPhase(this.Data.Level)].MaxStationedNum).ToMarkup());
                            break;
                        default:
                            entries.Add(("error", "error").ToMarkup());
                            entries.Add(("error", "error").ToMarkup());
                            break;
                    }

                    <RoomInfoTable Entries="@entries" />
                }
            </div>
        </div>
        <div class="row pt-4 pb-2">
            <div class="col">
                Facility Description
            </div>
        </div>
        <div class="row flex-fill">
            <div class="col">
                @room.Description
            </div>
        </div>
        <div class="row">
            @if (canDowngrade)
            {
                <div class="col btn btn-dark m-1" @onclick="@this.OnClickDowngrade">@downgradeText</div>
            }
            else
            {
                <div class="col btn btn-dark m-1 disabled">@downgradeText</div>
            }

            @if (canUpgrade)
            {
                <div class="col btn btn-dark m-1" @onclick="@this.OnClickUpgrade">@upgradeText</div>
            }
            else
            {
                <div class="col btn btn-dark m-1 disabled">@upgradeText</div>
            }
        </div>
    }
    else
    {
        <div>Invalid room.</div>
    }
</div>

@code {
    [CascadingParameter] private ModalParameters Parameters { get; set; }

    public Game Game { get; set; }
    public RoomSlotData Data { get; set; }

    protected override void OnInitialized()
    {
        this.Game = this.Parameters.Get<Game>("Game");
        this.Data = this.Parameters.Get<RoomSlotData>("Data");
    }

    private void OnClickDowngrade(MouseEventArgs e)
    {

    }

    private void OnClickUpgrade(MouseEventArgs e)
    {
        //var parameters = new ModalParameters();
        //parameters.Add("Game", this.Game);
        //parameters.Add("Data", this.Data);
        //var options = new ModalOptions()
        //{
        //    Position = "blazored-modal-center",
        //    HideCloseButton = true,
        //};
        //this.ModalService.Show<UpgradeBaseSlotModal>("", parameters, options);
    }
}
